html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
html body,
html body input {
    font: normal .9em Arial, Verdana, sans-serif;
}
body { 
	background-image:url(../images/assets/background.jpg);	
	background-repeat:repeat;
	color:#fff;
}
section,
header,
footer {
    display: block;
}
header,
footer > * {
    margin: 20px;
}

h1 {
    font: bold 2.4em Georgia, serif;
    padding: 10px 0 0;
}

#container {
    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding: 0;
}


#notifications{
	text-align:center;
}

#javascriptDisabled-warning
{   
	text-align:center;
}

#content {
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
}

#footer {
    margin-top: -3.3em;
    background-color: #000;
    opacity: .7;
}

#footer ul {
    margin: 0;
    padding: 1em;
    list-style: none;
    text-align: center;
}

#footer li {
	color: #fff;
    display: inline;
    padding: 0 5px;
}
