#container{
    width:100%;

}
#content{
    width: 50%;
    margin: 0 auto;
}

#choose_header{
	text-align:center;
}

#selectable {
    width: 680px;
    min-height: 360px;
    padding: 0;
    list-style-type: none;
}

#selectable:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

#selectable li {
    float: left;
    margin: 2px;
    padding: 1px;
    width: 105px;
    height: 82px;
}

#selectable li img {
    width: 100%;
    height: 100%;
}

#selectable .ui-selected 
{
    background: #F39814;
    color: white;
}

#pieceSelection{

    text-align:center;
}

#radio,
#submit{
    margin-top:10px;
}

#image{
  width:100%;
}
