
#choose_header{
	text-align:center;
}

#selectable {
    width: 500px;
    min-height: 400px;
    margin: 0 auto;
    padding: 0;
    list-style-type: none;
}

#selectable:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

#selectable li {
    float: left;
    margin: 5px;
    padding: 1px;
    width: 105px;
    height: 82px;
}

#selectable li img {
    width: 100%;
    height: 100%;
}

#selectable .ui-selected 
{
    background: #F39814;
    color: white;
}

#pieceSelection
{
	text-align:center;
}

#radio{
	text-align:center;
}
