#game_buttons
{
	text-align:center;

}

#grid 
{
	margin-left:auto;
	margin-right:auto;
	/*border: 1px white solid; */

	border: 1px solid rgba(0,0,0,0.5);
	border-radius: 8px 8px 8px 8px;
 	background: rgba(0,0,0,0.25);
	
	box-shadow: 10px 10px 10px rgba(0,0,0,0.5); 
    -o-box-shadow: 10px 10px 10px rgba(0,0,0,0.5);
	-webkit-box-shadow: 10px 10px 10px rgba(0,0,0,0.5); 
	-moz-box-shadow: 10px 10px 10px rgba(0,0,0,0.5); 
}
